################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

vs/
*.lock
*.exe
*.cache
*.dll
*.pdb
**/.pdb
**/.exe
!spec/*.exe
!spec/**/*.exe
!spec/**/**/*.exe
!spec/*.pdb
!spec/**/*.pdb
!spec/**/**/*.pdb
!spec/*.dll
!spec/**/*.dll
!spec/**/**/*.dll
!spec/*.cache
!spec/**/*.cache
!spec/**/**/*.cache
!spec/*.json
!spec/**/*.json
!spec/**/**/*.json
