################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

vs/
*.lock
*.exe
*.cache
*.dll
*.pub
!spec/*.exe
!spec/**/*.exe
!spec/**/**/*.exe
!spec/*.pub
!spec/**/*.pub
!spec/**/**/*.pub
!spec/*.dll
!spec/**/*.dll
!spec/**/**/*.dll
!spec/*.cache
!spec/**/*.cache
!spec/**/**/*.cache
!spec/*.json
!spec/**/*.json
!spec/**/**/*.json
